body {
    background-color: pink;
    overflow: hidden;
}

aside#shik {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;

    background-image: url(/shikun.jpg) ;
    background-size: calc(100vw / 50) calc(100vh / 50);
    background-repeat: repeat;
}

div#shik-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.8;
    text-align: center;
    transform: scale(1.5);
}

div.shik {
    --shik-size: 128px;

    display: inline-block;
    height: var(--shik-size);
    width: var(--shik-size);
    background-size: calc(var(--shik-size) * 2) var(--shik-size);
    background-position: center;

    /* animation: shikky-spin 5s ease-in-out infinite; */
    animation: shikky-spin 5s cubic-bezier(0.01, 0.64, 1, 0.44) infinite;
}

div.shik {
    background-image: url("/shikun.jpg");
}

@keyframes shikky-spin {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
        border-radius: 0%;
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
        border-radius: 50%;
    }
}